.full-button {
    width: 100%;
    height: 100%;
}
.extend-row {
    margin-top: 10px;
    height: 60px;
}
.invoice-top {
  margin-top: 7px;
  font-weight: bold;
  size: 10px;
}

.create{
    padding-left: 1000px;
    margin-bottom: 14px;
}
.row{
  width:100%
}
.navbar{
  border-radius: 0;
  }
  .navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color:#fff;
  }
.navbar-nav > li{
  padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color:#fff;
  border:0;
}
.navbar-light .navbar-nav .nav-link:focus{
  border:0;
}
.price{
  margin-top: 5px;
}
hr{
  margin:5px;

}
